#footer{ width:1009px;
height:30px;
background-image:url(image_path('barra.jpg'));
background-repeat:repeat-x;
color:#FFF;
padding-left:15px;
padding-top:20px;
font-size:small;
margin-bottom:30px;
float:left;
-moz-border-radius: 10px;
border-radius: 10px;
margin-top:20px;}

#redes{
	float:right;
	margin-top:-5px;
	margin-right:15px;}
#redes a{
	border:none;}

.img{ float:left;}
.wayaweb{ color:#CCC;
text-decoration:none;}