<div id="footer">
     		<div id="redes">
     		    <%= image_tag("mexico.png") %>
    			<a href="#" ><%= image_tag("facebook.png") %></a>
     			<a href="#" ><%= image_tag("twitter.png") %></a>
                
    		</div>
    OrdenaComida &copy; Todos los derechos reservados. Desarrollo por: <a href="http://www.wayaweb.com" style="text-decoration:none;" target="_blank"><font color="white"><strong>Wayaweb</strong></font> <img style="margin-top:-5px;" src="http://www.wayaweb.com/favicon.png" width="16" height="16" alt="Wayaweb" title="Wayaweb - Desarrollo de P&aacute;ginas Web" /></a>.
</div>

